:root {
  
  --text-size-default: 14px;
  --text-size-note: 0.857rem;
  --text-family-default: Arial, Sans-Serif;

  --color-bg-light: #FFF;
  --color-bg-accent: #FFDBB3;
  
  --color-border-default: rgba(0, 0, 0, 0.20);
  --color-border-divider: rgba(0, 0, 0, 0.08);

  --color-text-main: #333333;
  --color-text-note: rgba(0, 0, 0, 0.52);
  --color-text-discrete: rgba(0, 0, 0, 0.32);
  
  --border-radius-default: 3px;

  --z-dropdown: 2;
}

* {
  font-size: 14px;
  font-family: var(--text-family-default);
  padding: 0; margin: 0;
  outline: none;
}

main {
  display: grid;
  max-width: 500px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 2rem;
}

main > div {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-weight: normal;
}

@keyframes progress {
  0%   {width: 0%;}
  70%  {width: 70%;}
  100% {width: 100%;}
}

.progress-bar {
  height: 2px;
  background: var(--color-bg-accent);
  animation-name: progress;
  animation-duration: 100ms;
}

.select__selector {
  min-width: 140px;
  max-width: 230px;
  padding: 4px calc(10px + 8px + 6px) 4px 10px;
  display: inline-block;
  position: relative;
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-default);
  background: var(--color-bg-light);
  cursor: pointer;
  text-align: left;
}

.select__selector::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid var(--color-text-main);
}

.select__dropdown {
  min-width: 140px;
  max-width: 230px;
  position: absolute;
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-default);
  z-index: var(--z-dropdown);
  pointer-events: all;
  transform: translateY(3px) scale(1);
  transform-origin: top;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: .150s;
  background: var(--color-bg-light);
}

.select__dropdown.select__dropdown--close {
  opacity: 0;
  transform: translateY(3px) scaleY(0.4);
  pointer-events: none;
}

.select__dropdown ul {
  list-style: none;
  padding: 4px 0;
}

.select__dropdown li {
  gap: 8px;
  display: flex;
  padding: 4px 10px;
  font-size: 1rem;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  min-height: 26px;
}

.select__dropdown li:focus,
.select__dropdown li:hover {
  background-color: var(--color-bg-accent);
}

.countrySelect {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.countrySelect__icon {
  width: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.countrySelect__label {
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  text-align: left;
}

.countrySelect__badge {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.857rem;
  color: var(--color-text-note);
}

.search {
  gap: 8px;
  display: flex;
  flex-grow: 0;
  align-items: center;
  border-bottom: 1px solid var(--color-border-divider);
  padding: 4px 10px;
}

.search .icon {
  width: 1rem;
}

.search input {
  line-height: 1.857rem;
  font-size: 1rem;
  border: none;
  outline: none;
}
